<template>
  <div @mouseenter="mouseEnterHandler" @mouseleave="mouseLeaveHandler">
    <span v-text="text" />
  </div>
</template>

<script>
export default {
  name: "TestComponent",
  data: () => ({
    text: "I'm alive",
    initialText: "I'm alive",
    interval: null,
  }),
  methods: {
    mouseEnterHandler() {
      this.interval = setInterval(this.offsetText, 100);
    },
    mouseLeaveHandler() {
      clearInterval(this.interval);
      this.interval = null;
      this.text = this.initialText;
    },
    offsetText() {
      this.text = this.text.substring(1, Infinity) + this.text[0];
    },
  },
};
</script>

<style style="scss" scoped>
div {
  padding: 10px 8px;
  border: 1px solid darkgray;
}
</style>
